{% extends 'base.html' %}

{% block title %}Dashboard - Bookmark Manager{% endblock %}

{% block content %}
<div class="container my-5">

    {% if messages %}
      {% for m in messages %}
        <div class="alert {% if m.tags == 'error' %}alert-danger{% else %}alert-{{ m.tags }}{% endif %} alert-dismissible fade show" role="alert">
          {{ m }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    <div class="card shadow-lg p-4 mb-4">
        <h4>Edit Bookmark</h4>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" name="title" class="form-control" placeholder="Bookmark Title" required>
            </div>
            <div class="mb-3">
                <label class="form-label">URL</label>
                <input type="url" name="url" class="form-control" placeholder="https://example.com" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <select name="category" class="form-select" required>
                    {% for key,value in categories %}
                    <option value="{{ key }}" {% if bookmark.category == key %}selected{% endif %}>{{ value }}</option>

                   {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100">Save Changes</button>
        </form>
    </div>

</div>
{% endblock %}
